@font-face {
    font-family: 'MyFont';
    src: url('assets/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.App {
    margin: 1rem;
    padding: 4rem;
    color: red;
    font-family: 'MyFont';
    background: url('./assets/recyclehero-alster.jpg');
}